h1,
h2,
h3,
h4,
h5,
p,
a,
pre {
    margin: 0;
    padding: 0;
}

.amallar {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70%;
    border-radius: 50px;
    background-color: #EAF0FF;
}

input {
    background-color: #EAF0FF !important;
    width: 100% !important;
    outline: none;
    border-radius: 30px !important;
}

input::placeholder {
    color: #4880FF;
    font-size: 20px;
}

.bell {
    font-size: 24px;
}

.search-by-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    width: 90%;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    background-color: #fff;
}

.table h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin: 10px 0;
}

.table-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #D3E0FF;

}

.table-content h3 {
    text-align: center;
    font-size: 16px;
}